<center> 
	<h3>
		Not Found Wrong input
	</h3>

	<h2>
		<%=link_to 'back', urls_longurl_path %>  </br> </br> </br>
		<%= link_to 'logout' ,destroy_user_session_path , method: :delete %> </br> </br> </br>
		
	</h2>
</center>
