
<center>
	<p> Long Url is: </p>  
	<h3> <%= @var %>  </h3> </br> 

	<h1><%= link_to 'back' , urls_longurl_path %> </br>

	<%= link_to 'logout' , destroy_user_session_path , method: :delete %> </br> <h1>

</center >
